name = "camera configuration file"
version = "version1.0.0"

gie = {
    #量化后的模型名称, 注意路径, 必须配置
    #model_engine_file = "./weights/sb.rknn"; 
    #model_engine_file = "best_v5_FP16.engine";
    model_engine_file = "./weights/yolov5s_best.rknn"; 


    #原模型名称（量化前），如果上述文件存在，不需要配置，否则需要配置，注意路径
    model_file = "yolov5s_test.wts";

    #检测目标类别名称列表文件, 必须配置
    # class_names = "car;bus;truck;person;motorbike;tricycle;cone;throws";  
    class_names = "car;bus;truck;person;motorbike;tricycle;cone";  
    #class_names = "person;bicycle;car;motorcycle;airplane;bus;train;truck;boat;traffic light;fire hydrant;stop sign;parking meter;bench;bird;cat;dog;horse;sheep;cow;elephant;bear;zebra;giraffe;backpack;umbrella;handbag;tie;suitcase;frisbee;skis;snowboard;sports ball;kite;baseball bat;baseball glove;skateboard;surfboard;tennis racket;bottle;wine glass;cup;fork;knife;spoon;bowl;banana;apple;sandwich;orange;broccoli;carrot;hot dog;pizza;donut;cake;chair;couch;potted plant;bed;dining table;toilet;tv;laptop;mouse;remote;keyboard;cell phone;microwave;oven;toaster;sink;refrigerator;book;clock;vase;scissors;teddy bear;hair drier;toothbrush";

    # label file
    label_file = "../config/coco_80_labels_list.txt";
    ###量化精度， 不需要修改
    #### 0=INT8, 1=FP16  2=FP32 mode ####
    network_mode = 1;
    net_width = 640;
    net_height = 640;
    num_detected_classes = 7;

    #nms阈值
    nms_iou_threshold = "0.5";
    #目标置信度阈值
    pre-cluster-threshold = "0.1";
};

tracker = {
    #最低阈值, 必须配置
    low_thresh = "0.5";
    #最高阈值, 必须配置
    high_thresh = "0.7";
    #iou匹配的阈值, 必须配置
    max_iou_thresh = "0.8";
};

location = {
    #是否开启定位模块 0 or 1
    enable = 1;

    #标定文件
    calibration_file = "../config/cfg.json";

    #滤波相关阈值, 必须配置
    std_measurement_x = "0.1";
    std_measurement_y = "0.1";
    std_state_ax = "0.4";
    std_state_ay = "0.5";

    #速度阈值, 必须配置
    speed_thresh = "2.5";
    #速度收敛阈值, 必须配置
    speed_converged_thresh = "1.5";

    #初始航向角
    heading = "132.8";

    #摄像机安装位置与正北方向交角, 安装位置的经度, 纬度
    camera_location_angle = "190.38";
    camera_location_longitude = "118.01456025";
    camera_location_latitude = "28.48643379";
    camera_location_elevation = "0";
};

NL_config = {
    #设备ID
    camera_device_id = "camera1";

    #汉字文件
    font_file = "../config/simhei.ttf";

    #摄像机ROI区域,必须顺时针选取至少4个点
    roi = (
        {
            roi_points = "0;0;4096;0;4096;2160;0;2160";
        },
        #{
        #    roi_points = "10;10;600;10;600;600;10;600";
        #}
    );

    #车牌识别ROI区域,必须顺时针选取至少4个点
    # roi_plate_points = "0;220;1920;220;1920;980;0;980";
};
