# 视觉行人预警主进程
name = "camera_person_warning"

node = 
{	 
	CameraConfig = "../config/camera_config_lane.cfg";
	SendSensorType = 2; # 固定视觉模式
	SendModel = 0;
	PortName = "/dev/ttyS6";
	BaudRate = 57600;
	RsuIp = "192.168.0.100";
	RsuPort = 30088;
	CloudIp = "192.168.0.101";
	CloudPort = 20000;
	#CameraURI = "rtsp://USER:PASSWORD@CAMERA_IP:554//Streaming/Channels/101";
	#CameraURI = "rtsp://USER:PASSWORD@CAMERA_IP/media/video2";
	# CameraURI = "rtsp://USER:PASSWORD@CAMERA_IP:554";
	CameraURI = "rtsp://USER:PASSWORD@CAMERA_IP:554/Streaming/Channels/102";	#相机视频流
	# CameraURI = "/home/nvidia/opt/vlc-record-2022-08-04-09h57m11s-rtsp___10.8.27.8_554__Streaming_Channels_101-.mp4";
	#CameraURI = "rtmp://218.76.44.22:10138/hls/64020001051320011200_64020001051320011200";
	#CameraURI = "/media/9A067C04067BE025/work/F10-2.avi"; #相机的uri地址
	# CameraURI = "./test.mp4";
	#CameraURI = "./quick.avi";
	CameraShow = 1; # 1 all show, 2 double front, 3 double top
	IsSaveData = 0;
	SendTime = 1000; #发送数据频率，毫秒为单位
	LedWarningText = "您已超速，请减速慢行"; #识别追踪到目标后的LED屏幕预警文字
	LedIp = "192.168.0.102"; # LED屏幕控制器IP
	LedPort = 30080; # LED屏幕控制器端口
	LedSdkKey = ""; # LED平台sdkKey，过期后需要替换
	LedSdkSecret = ""; # LED平台sdkSecret
	LedDeviceId = ""; # LED屏幕设备ID
	ListenPadPort = 10020; #调试测试时，与pad端交互端口
	IsPadDebug = 0; #是否与pad端调试，如果是的话，将上报rsu或者云端的任意信息
	CameraLength = 1920; # 相机分辨率高 
	CameraWidth = 1080; # 相机分辨率宽 
	location_angle = 190.38;	#目标初始航向角
	location_longitude = 0.0;	#传感器正下方经度
    location_latitude = 0.0;		#传感器正下方纬度
	IsGcj02 = 1; #0 wgs84 1Gcj02
	GetMatMode = 0;# 0 普通的videocapture拉流 1 基于Xavier的gstreamer插件 H264编码 2 基于Xavier的gstreamer插件 H265编码 3 基于Origin的gstreamer插件 H264编码 4 基于Origin的gstreamer插件 H265编码
	RtspTransport = "tcp"; # rtsp取流协议: tcp/udp/multicast，默认tcp更稳定
	SourceTimeoutSec = 10; # 超过该秒数没有新帧则重建取流链路
	ReconnectTimes = 0;	//重连次数 <=0表示一直重连 >0 表示次数
}
